* {
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
}

@media (min-width: 600px) and (max-width: 812px) {

  .wrapper {
    position: relative;
    width: 812px;
    background-color: #FFFFFF;
    height: 375px;
    overflow-y: hidden;
  }

  .button-operator-layout {
    background-color: #f0f0f0;
    /* border: 1px solid black; */
    width: 317px;
    height: 375px;
    margin: auto;
  }

  .black-piano-deck{
     position: absolute;
    top:0;
    background-color: #2D363F;
    width:812%;
    height: 291px;
  }

}

@media (min-width: 813px) and (max-width: 1280px) {
    .wrapper {
        position: relative;
        width: 812px;
        background-color: #FFFFFF;
        height: 620px;
        overflow-y: hidden;
        margin: auto;
      }

      .button-operator-layout {
        background-color: #f0f0f0;
        width: 500px;
        height: 620px;
        margin: auto;
      }

      .black-piano-deck{
       position: absolute;
       top:0;
       background-color: #2D363F;
       width:1280px;
       height: 458px;
     }

}

@media (min-width: 1280px) and (max-width: 1792px) {
    .wrapper {
        position: relative;
        width: 1280px;
        background-color: #FFFFFF;
        height: 720px;
        overflow-y: hidden;
        margin: auto;
      }

      .button-operator-layout {
        background-color: #f0f0f0;
        width: 500px;
        height: 720px;
        margin: auto;
      }

      .black-piano-deck{
        position: absolute;
        top:0;
        background-color: #2D363F;
        width:1280px;
        height: 458px;
      }
}